#pp_tabmenu {
    color: #000;
    //border-bottom: 2px solid black;
    //border-bottom: 1px solid #CCCCCC;
    border-bottom: 1px solid #781351;
    margin: 10px 0px 0px 0px;
    padding: 1px;
    z-index: 1;
    padding-left: 10px 
}

#pp_tabmenu li {
    display: inline;
    overflow: hidden;
    list-style-type: none; 
}

#pp_tabmenu a, a.active {
    //color: #DEDECF;
    //background: #898B5E;
    color: #000066;
    background: #DAE0ED;
    font: bold 1em "Trebuchet MS", Arial, sans-serif;
    //border: 1px solid black;
    border: 1px solid #781351;
    padding: 4px 5px 1px 5px;
    margin: 2px;
    text-decoration: none; 
}

#pp_tabmenu a.active {
    //background: #ABAD85;
    //background: #99CCFF;
    //background: #FFF;
    background: #f7f7f7;
    //border-bottom: 3px solid #ABAD85; 
    //border-bottom: 2px solid #99CCFF; 
    //border-bottom: 2px solid #FFF; 
    border-bottom: 2px solid #F7F7F7; 
}

#pp_tabmenu a:hover {
    color: #000066;
    background: #ADC09F; 
    //background: #CCFFFF; 
}

#pp_tabmenu a:visited {
    //color: #E8E9BE; 
    color: #000066;
}

#pp_tabmenu a.active:hover {
    //background: #ABAD85;
    //background: #CCFFFF;
    //color: #DEDECF; 
    color: #000066; 
}

