.paypalSavedAddress {
    text-align: left;
}

.paypalForm label {
    width: 8em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

.paypalProductForm label {
    width: 20em;
    float: left;
    text-align: right;
    vertical-align: bottom;
    margin-right: 0.5em;
    display: block;
}

.paypalProductForm p {
    line-height: 1px;
    margin-top: 0px;
}

.paypalProductForm form div {
    clear: left;
    display: block;
    height: expression('1%');
    margin: 5px 0 0 0;
    padding: 1px 3px;
}

.paypalButton {
    padding: 3px 6px;
    display: inline;
    border: none;
    color: #FFFFFF !important;
    cursor: pointer;
    font-size: small;
    font-weight: normal;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*text-shadow: 1px 1px #666666;*/
    text-decoration: none;
    margin-bottom: 3px;
}

.paypalButton:hover {
    background-position: 0 center;
}

.paypalButton:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    /*padding: 4px 7px 4px;*/
}

.paypalButton.red { background-color: #CC6666; }
.paypalButton.purple { background-color: #9400BF; }
.paypalButton.green { background-color: #7AB61D; }
.paypalButton.orange { background-color: #FF9C00; }
.paypalButton.blue { background-color: #2C6DA0; }
.paypalButton.black { background-color: #222222; }
.paypalButton.black:hover { background-color: #333333; }
.paypalButton.grey { background-color: #666666; }
.paypalButton.white {
    background-color: #FFFFFF; color: #000000; text-shadow: 1px 1px #fff;
}
.paypalButton.small { font-size: 75%; padding: 3px 7px; }
.paypalButton.small:active {
    padding: 4px 7px 2px;
    background-position: 0 top;
}
.paypalButton.large { font-size: 125%; padding: 7px 12px; }
.paypalButton.large:active {
    padding: 8px 12px 6px;
    background-position: 0 top;
}

.paypalContent {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #DDDDDD;
    margin-bottom:10px;
    margin-top:3px;
    padding:10px;
}

div.paypalProductDetail {
    width: 70%;
    clear: right;
    /*margin: 0px 40px 0px 40px;*/
    margin: 0px 10px;
    position: relative;
    float: left;
    margin-left: 10px;
}

.paypalProductDetail #paypalShortDesc,
div.paypalProctDetail .ppShortDesc {
    float: left;
    margin-bottom: 10px;
}
.paypalProductDetail h1 {
    font-size: 200%;
}

.frmAddCart {
    margin-top:5px;
    clear:right;
    float:right;
}

.frmAddCart.v2 {
    float:left;
}

.paypalProductDetail #paypalProductAttrib {
    float: right;
    text-align: right;
    margin-right: 30px;
    clear: right;
    padding-bottom: 10px;
}

div.paypalDetailAttrib {
    float:left;
    margin-bottom: 5px;
}
div.paypalDetailAttrib.v2 {
    margin-bottom: 2em;
}

.paypalProductDetail #paypalProductDesc,
.ppProductDesc {
    clear: both;
    margin-bottom: 1em;
    margin-top: 2em;
    font-size: 1.2em;
}
.ppProductDesc.v2 {
    margin-bottom: 2em;
}
div.paypalProductThumbWrapper {
    clear: both;
    float: left;
    margin-top: .5em;
    margin-bottom: 1em;
}
div.paypalProductThumb {
    float: left;
    margin-right: .25em;
}

div.ppProductListOuter {
  clear:both;
  padding-top: 15px;
  padding-bottom: 10px;
  overflow: hidden;
}

.paypalProductListItem {
    position: relative;
    padding: 5px;
    text-decoration: none;
    overflow: hidden;
}

.paypalProductListItem.v1 {
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-top: 20px;
  padding-bottom: 10px;
  clear: both;
}

.paypalProductListItem.v2 {
  cursor: pointer;
  position:relative;
  float: left;
  padding: 10px 5px;
  margin: 1em 0.5em -0.5em 0.15em;
  border: 2px solid #ddd;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 160px;
  min-height: 180px;
  height: 240px;
}

.paypalProductListItemUrl2 div.ratingbar,
.ppRatingBar {
  /*position: relative;*/
  bottom: 0;
  margin-bottom: 4px;
}

.ppRatingBar.v1 {
  position: relative;
  text-align:center;
  padding-top: 14px;
  float: left;
}

.ppRatingBar.list.v1 {
/*  position: absolute;*/
}

.ppRatingBar.v2 {
  text-align:center;
  font-size: x-small;
}

.ppRatingBar.list.v2 {
  clear:both;
  width: 100%;
}

.ppRatingBar.detail.v2 {
  position: relative;
  clear: both;
  padding-top: 10px;
  text-align: center;
}

.ppRatingBar.detail {
  font-size: inherit;
}

.paypalProductListItem itemname {
    font-size:1.2em;
    font-weight:bold;
}

div.paypalProductListItem.v1 div.ItemImage {
    float: left;
    width: 110px;
    text-decoration: none;
    border: none;
    margin-bottom: 10px;
    text-align: center;
    margin: 0px 10px;
}

div.paypalProductListItem.v2 div.ItemImage {
    text-decoration: none;
    border: 5px;
    text-align: center;
    margin: auto;
    max-height: 120px;
}

div.paypalProductListItem.v1 div.ItemUrl {
    float: left;
    width: 60%;
    font-weight: bold;
}

div.paypalProductListItem.v2 div.ItemUrl {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    font-weight: bold;
    clear: both;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

div.Button.list.v2 {
    margin-top: 13px;
    display:block;
    float: right;
    width: 70%;
}

div.paypalProductListItem.v1 div.ItemButtons {
    float:right;
    /*width:200px;*/
    text-align:right;
}

.paypalComments {
    clear: both;
}

.paypalListSeparator {
    clear: both;
    border-bottom: 3px;
    padding-top: .5em;
}
.paypalListSeparator hr {
    width: 85%;
}

.paypalOrderContainer {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.paypalOrderContainer.print h1 {
    font-size: 24px;
}

.paypalOrder {
    clear:both;
}

.paypalOrder #paypalShopInfo {
    /*width: 200px;*/
    float: right;
}
.paypalOrder #paypalShopInfo .name{
    font-size: 24px;
}

.paypalOrder #paypalAddr {
    margin-top: 2em;
    padding-bottom: 1em;
    position:relative;
}

.paypalOrder #paypalBilling {
    float: left;
    margin-left: 0;
}

.paypalOrder #paypalShipping {
    float: left;
    margin-left: 20%;
}

.paypalOrder #paypalOrderNumber {
    clear: both;
    text-align: left;
    padding: 1em 0 1em 0;
}

.paypalOrderItems {
    clear: both;
    text-align: left;
}

.paypalOrderItems table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.paypalOrderItems td {
    vertical-align: top;
}

.paypalOrderButtons {
    position: relative;
    float: right;
    margin-right: 50px;
    clear: right;
}

.paypalStateSelect {
    width: 264px;
}

.paypalCheckoutButton {
    display: inline;
    margin-right: 20px;
    vertical-align: top;
}

.paypalAlertText {
    color: red;
    font-weight: bold;
}

.paypalBlock #CartTotal {
    font-weight: bold;
}

.paypalBlock #CartTotalAmount {
    float: right;
}

.paypalBlock div.ItemOptions {
    font-size: smaller;
    padding-left: 2em;
}

.paypalBlock div.CartItem {
    padding-bottom: .5em;
}

.paypalCategorySelectRoot {
    /*background-color: lightblue;*/
    font-weight: bold;
}

.paypalErrorMsg p {
    font-weight: bold;
}

#orderPaymentMethod {
    padding-top: 2em;
}

#paypalOrderLog th {
    text-align: center;
}

#paypalOrderLog td {
    padding-right: 1em;
    padding-left: 1em;
}

/*#price {
    color: #FF0000;
}*/

.paypalPrice {
    font-weight:bold;
}

.paypalPrice.list.v1 {
    padding-bottom: 1rem;
    position: relative;
}

.paypalPrice.list.v2 {
    text-align:center;
}

.paypalPrice.v2 {
    margin-top: 4px;
    text-align: right;
}

.paypalPrice.was {
    color:#666666;
    text-decoration:line-through;
}

.paypalPrice.normal {
    color: #666666;
    font-size:120%;
}

.paypalPrice.sale,
.paypalQtyDisc
{
    color: #FF0000;
    font-size:150%;
    font-style:italic;
}
.paypalQtyDiscText {
    font-style: italic;
}

#paypalOnhand {
    margin-top: 1em;
    color: #666666;
    font-size: 120%;
    font-style:italic;
}

.paypalProductLgImg {
    /*max-width: 460px;
    max-height: 400px;*/
    width: 460px;
    height: 410px;
    margin-bottom: 2px;
}

.paypalProductLgImg.v2 {
    margin-bottom: 2px;
}

.alignright {
    text-align: right;
}

.ppNewAdminItem {
    font-style: italic;
    font-weight: bold;
    color: red;
}

div.paypalProductSort {
    float: left;
}
div.paypalProductSearch {
    float: right;
}
#orderInstructions {
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}
.orderInstructionsTitle {
    font-weight: bold;
}
.orderInstructions {
    font-style: italic;
}
table.paypalViewCartTable {
    width: 500px;
}

.paypalViewCartTable a {
    text-decoration: none;
}

.paypalProductCustomText {
    margin-bottom: 5px;
    line-height: 1.3rem;
}
#disp_img {
    max-width: 460px;
    max-height: 400px;
}

.paypalRatingBar {
    margin-top: 2em;
}

.paypalCatHeaderImage {
    float: left;
    margin-right: 6px;
}

.ppQtyDiscSmall {
    font-size: small;
    font-style: italic;
}

div.ppTOCLink {
    margin-top: 10px;
}

form.frm_buy_now {
    clear:left;
}
.pp-icon-ok {
    color: green;
}
.pp-icon-danger {
    color: red;
}
.pp-icon-warning {
    color: #FFD300;
}
.pp-icon-info {
    color: #0077dd;
}
.pp-icon-unknown {
    color: #530E53;
}

#ppProductForm table {
    text-align: center;
    width: 50%;
}

div.ppGatewayRadios {
    margin-top:10px;
    text-align:left;
    font-size: 125%;
}

div #orderPmtMethod {
    margin-top: 15px;
    margin-bottom: 15px;
}
