<plugin>
    <id>paypal</id>
    <name>Paypal</name>
    <description>Provides a product catalog and PayPal interface for selling physical and virtual products.</description>
    <version>0.5.7</version>
    <glfusionversion>1.4.0</glfusionversion>
    <phpversion>5.3.0</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Lee Garner</maintainer>
    <dataproxydriver>paypal.class.php</dataproxydriver>
    <requires>lglib</requires>
</plugin>
